# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric & run environments
run/
run_server/
logs/
run-gametest/

# temporary and build artifacts
*.tmp
build/
out/
classes/
.externalNativeBuild/
dependency-reduced-pom.xml

# java crash logs & heap dumps
hs_err_*.log
replay_*.log
*.hprof
*.jfr

# agents configuration and state
.agents/
